files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDyzCCArMCFH0fdN/ZiLei21mLb/XjAL29ra48MA0GCSqGSIb3DQEBCwUAMIGh
      MQswCQYDVQQGEwJVUzESMBAGA1UECAwJV2lzY29uc2luMRAwDgYDVQQHDAdNYWRp
      c29uMSEwHwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQxGDAWBgNVBAMM
      D0RhdmlkIENhbGFicmVzZTEvMC0GCSqGSIb3DQEJARYgZGF2aWQudGhvbWFzLmNh
      bGFicmVzZUBnbWFpbC5jb20wHhcNMjIwMzA5MTkzMzUzWhcNMjMwMzA5MTkzMzUz
      WjCBoTELMAkGA1UEBhMCVVMxEjAQBgNVBAgMCVdpc2NvbnNpbjEQMA4GA1UEBwwH
      TWFkaXNvbjEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMRgwFgYD
      VQQDDA9EYXZpZCBDYWxhYnJlc2UxLzAtBgkqhkiG9w0BCQEWIGRhdmlkLnRob21h
      cy5jYWxhYnJlc2VAZ21haWwuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB
      CgKCAQEAw+ab8zvvIqvO7wjIK2LsE5Ai5jEKqYyw1rJKjKkyZQxCqZKCMUZQoQAQ
      rPKkLc7dLNxRDGRjXHjdbaIpaVnlCnt5aEWXTyxDyU9UHbI7QOe/vulS/oWkcwo8
      IAwKhrRUDe3OCMGQCJzFJzflcJppxZZqiAX2DvISezgABlOBvSA82HKdg9MEkp6w
      EbLo9Hl7BI4QFNhnKR86yDl5df4qoZ91kD4VaGRxfT4X9rc775jEDirg1t37qLq4
      Af21yO4OMon2FW80AWV19Mt9vOZIiiJmIkVPcJDxTmL57oafudfNO7g4MeLWwAWY
      P6lbbT9xzYYcJ/zWL70d5sbahwDNowIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQBg
      B9Fez6bMupN4QpjjiH1ydmd8aqxmdUQB1lNxiTB1827ilClz8r8U/ALC9mW7u8LM
      K+2es9UUCdFGT+dIYQgySh3CnKsEcXQ8jNo6Az1n+xrFA78TX4auYfSZ7pLW8vAh
      GcUOFOMtDwP06Wbw3KMj6mokgzNmeezPaOvk7x2N3isjvIXM9ZZAZqmdHKz9I3Lp
      qMbqJkEYEukIvQUQppZpQACKp6GNrduiIufTmkrEA5fvP/LNxm9HR3jTfeH7d9nO
      x2S1+nj4Mveq7djfO9n9pKzlg3BdfU1e3uxxb4R7FG402nmc8D0DbI1CfHzbTwnl
      WAcxhKG0yx2HBcuJXtZI
      -----END CERTIFICATE-----


  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEAw+ab8zvvIqvO7wjIK2LsE5Ai5jEKqYyw1rJKjKkyZQxCqZKC
      MUZQoQAQrPKkLc7dLNxRDGRjXHjdbaIpaVnlCnt5aEWXTyxDyU9UHbI7QOe/vulS
      /oWkcwo8IAwKhrRUDe3OCMGQCJzFJzflcJppxZZqiAX2DvISezgABlOBvSA82HKd
      g9MEkp6wEbLo9Hl7BI4QFNhnKR86yDl5df4qoZ91kD4VaGRxfT4X9rc775jEDirg
      1t37qLq4Af21yO4OMon2FW80AWV19Mt9vOZIiiJmIkVPcJDxTmL57oafudfNO7g4
      MeLWwAWYP6lbbT9xzYYcJ/zWL70d5sbahwDNowIDAQABAoIBAQCi6M+fgqPnDUFU
      /tSXX/g6fI7JJtdbECivIi1ks/+4kG2PXsrt9y9t9APqDw4BGhpMCBtOVt1aNRjO
      5x/RAHS8NtpLoDOoH4NvkYy99U3ZN9/4/0eJadHL6SL+84R9aNDNlIjWN0F0KAq8
      BnvDHGYBbojA/VQWMbC0z2kV2bP2dbdSCmHEf2TsOd6bcL0U2uCFvFhozyjF/2nX
      3oKiHq6X7khKYGVpNC5/IrjQKlmJLOn2+gA9OJ4EfMH9jLPGeZDaf92mVo4Y8sWy
      VEOLK6KR8Mhl8a1nZbG/wNP7BXHtKhxjdfkNOMt3r+jpYpOSnd78yzxuuuQ1JIo9
      dwwl/c8hAoGBAO+jLsqKAiywXTA0d9AWhbbLlh5YtI+0rNStK+SzCJQbtSV7yQ3z
      pTE6ag8WcLvbv2MX/Kv3d33PuHcBN6xs+BMBM8nKVXC9//lO9+FlX63ZH58p3Ku2
      eiIv5zA3nLaGpF2YsnY20AGCdQm03HrRcXRbWJqp8okL+EJP+FbdvCg9AoGBANFG
      6yjnNZB8yD2lR8Iqx9TUQWYvBJaNYQUQXEbD977QLx33cZd8JHf+DglZ3OXvVKN5
      pbB9NH9m6LVCKlhCEDa8FwXD/PA6R5mYrxN8TLna4DHKr3VU88Mf+XzP1wrWvXi0
      WogAcERzRDutOWEZ1Zxem6QhSDwd4m8+CpzaNEtfAoGBAMP+QgnTYD3urPj9ILUn
      hotf7VK6mEskqWp0i/7L0wtXsguLN4BastQVg6L9ZoyvCNRiTPzVNHzIxIVIkKFM
      qoTYqeOzwbepHk9on+JQSDXm7C8ATQSABVoqtbpA8cJzUsFeXy/CWtOxQEoFC4LE
      BDf3cftlXgFqscyCnYlmZzq9AoGARPSTI4UbVyJmcDl3bXjfIzdU3TB82IZ5A0wi
      u4ZyqUK7Y6pWmU1kTs09HsOnT3QOdVbtyztWAuyLnL3SagZKhV5wT4wGWbk6QlfW
      yBraxRpjaMSaD5UQRKjScdehyYZ8I7t5YPqUA1nfj7JCB8aVZdKegfQdcwF9zJ2q
      rYgQVw0CgYEAruomc0cwXsGqT2fIfWz9ZJiq74TDM/mBwh1pg4EzVIG2+1tBweLG
      BEroPYaKuzcxtUsXPE6HNkycISYF+SNzFfF8q4qUexhdit0G7EOnPCEm8cnoQV8j
      y3m/Aw81fAvFvPhdtw3OVzzTkLuFhzxyKG1zuiK00g9w4q63qKL3fnY=
      -----END RSA PRIVATE KEY-----


  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart