#otters {
    background-image: url("../img/otters.jpg");
    background-size: cover;
    background-position: 60% 50%;
    height: 750px;
}

.o-glyph {
    font-family: 'Allura', cursive;
    letter-spacing: 2px;
    position: relative;
    bottom: 3px;
}

.tag-link { text-decoration: none; }
.text-color-red {color: #d32f2f }           /* politics */
.text-color-pink {color: #f1709f }          /* education */
.text-color-purple {color: #8e24aa }        /* movies */
.text-color-indigo {color: #3949ab }        /* books */
.text-color-blue {color: #2196f3 }          /* entertainment */
.text-color-cyan {color: #00bcd4 }          /* food */
.text-color-teal {color: #009688 }          /* personal */
.text-color-green {color: #4caf50 }         /* technology */
.text-color-lime {color: #cddc39 }          /* business */
/*.text-color-yellow {color: #ffff00 }        !* sports *!*/
.text-color-yellow {color: #ffc400 }        /* sports */
.text-color-amber {color: #ffc400 }         /* opinion */
.text-color-orange {color: #fb8c00 }        /* science */
.text-color-brown {color: #795548 }         /* health */
.text-color-grey {color: #9e9e9e }          /* travel */
.text-color-blue-grey {color: #607d8b }     /* art  */